# {{ ansible_managed }}

description "{{ almanach_service_name }}"

start on runlevel [2345]
stop on runlevel [!2345]

respawn
setuid {{ almanach_user }}
setgid {{ almanach_group }}

script
    exec {{ almanach_app_dir }}/bin/almanach api {{ almanach_config_file }} --logging {{ almanach_logging_config_file }}
end script
