[ALMANACH]
auth_token={{ almanach_auth_token }}
auth_strategy={{ almanach_auth_strategy }}
volume_existence_threshold={{ almanach_volume_existence_threshold }}
device_metadata_whitelist={{ almanach_metadata_whitelist }}

[MONGODB]
url={{ almanach_mongodb_url }}
database={{ almanach_mongodb_database }}
indexes=project_id,start,end

[RABBITMQ]
url={{ almanach_rabbitmq_url }}
queue={{ almanach_rabbitmq_queue }}
exchange={{ almanach_rabbitmq_exchange }}
routing.key={{ almanach_rabbitmq_routing_key }}
retry.time.to.live={{ almanach_rabbitmq_retry_time_to_live }}
retry.exchange={{ almanach_rabbitmq_exchange }}
retry.maximum={{ almanach_rabbitmq_retry_maximum }}
retry.queue={{ almanach_rabbitmq_retry_queue }}
retry.return.exchange={{ almanach_rabbitmq_retry_return_exchange }}
dead.queue={{ almanach_rabbitmq_dead_queue }}
dead.exchange={{ almanach_rabbitmq_dead_exchange }}

[KEYSTONE]
username={{ almanach_keystone_username }}
password={{ almanach_keystone_password }}
tenant_name={{ almanach_keystone_tenant_name }}
auth_url={{ almanach_keystone_auth_url }}
