# {{ ansible_managed }}

[Unit]
Description=Almanach api openstack service
After=syslog.target
After=network.target

[Service]
Type=simple
User={{ almanach_system_user_name }}
Group={{ almanach_system_group_name }}

ExecStart={{ almanach_app_dir }}/bin/almanach-api --config-file={{ almanach_config_file }} --log-file={{ almanach_log_file }}

TimeoutSec=300
Restart=on-failure
RestartSec=150

[Install]
WantedBy=multi-user.target
