# {{ ansible_managed }}

description "{{ almanach_api_program_name }}"

start on runlevel [2345]
stop on runlevel [!2345]

respawn
setuid {{ almanach_system_user_name }}
setgid {{ almanach_system_group_name }}

script
    exec {{ almanach_app_dir }}/bin/almanach-api --config-file={{ almanach_config_file }} --log-file={{ almanach_log_file }}
end script
